.body{
    display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #fff;
}
.body_1{
    display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	background: #fff;
}
.formClients{
	width: 80%;
	padding: 20px;
}
.formClients h2{
	width: 100%;
    color: #000;
    font-size: 36px;
	text-align: center;
	margin-bottom: 10px;
}
.formClients .row100{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}
.formClients .row100 .col{
	position: relative;
	width: 100%;
	padding: 0 10px;
	margin: 30px 0 10px;
	transition: 0.5s;
}
.formClients .row100 .inputBox{
	position: relative;
	width: 100%;
	height: 40px;
	color: #000;
}
.formClients .row100 .inputBox input,
.formClients .row100 .inputBox.textarea textarea{
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	box-shadow: none;
	border: none;
	outline: none;
	font-size: 18px;
	padding: 0 10px;
	z-index: 1;
	color: transparent;
}
.formClients .row100 .inputBox .text{
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
	font-size: 18px;
	padding: 0 10px;
	display: block;
	transition: 0.5s;
	pointer-events: none;
}
.formClients .row100 .inputBox input:focus + .text,
.formClients .row100 .inputBox input:valid + .text{
	top: -35px;
	left: -10px;
}

.formClients .row100 .inputBox .line{
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2px;
	background: #000;
	transition: 0.5s;
	border-radius: 2px;
	pointer-events: none;
}
.formClients .row100 .inputBox input:focus ~ .line,
.formClients .row100 .inputBox input:valid ~ .line{
	height: 100%;
}
.formClients .row100 .inputBox input:focus,
.formClients .row100 .inputBox input:valid{
	color: #fff;
}

.formClients .row100 .inputBox.textarea{
	position: relative;
	width: 100%;
	height: 100px;
	padding: 10px 0;
}
.formClients .row100 .inputBox.textarea textarea{
	height: 100%;
	resize: none;
}
.formClients .row100 .inputBox textarea:focus + .text,
.formClients .row100 .inputBox textarea:valid + .text{
	top: -35px;
	left: -10px;
}
.formClients .row100 .inputBox textarea:focus ~ .line,
.formClients .row100 .inputBox textarea:valid ~ .line{
	height: 100%;
}
.formClients .row100 .inputBox textarea:focus,
.formClients .row100 .inputBox textarea:valid{
	color: #fff;
}
#themclient
{
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 2px;
}
#result{
	margin-left: 165px;
}